.footer {
  &__container {
    padding: 0 561px;
  }
    &__title{
      @include titleh2;
      margin-bottom: 20px;
    }
    &__text {
      color: var(--Black, #070707);
        text-align: center;
        font-family: $GilMedium;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &__message {
      border-radius: 30px;
      background: #070707;
      color: #FFF;
      font-family: $GilMedium;
      font-size: 18px;
      font-weight: 400;
      padding: 10px 29px;
      margin: 10px 40px 30px 75px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 34px;
      column-gap: 10px;
      margin: 40px 0px 40px 0px;
      &-link {
        border-radius: 30px;
        border: 2.5px solid #070707;
        color: #070707;
        padding: 10px 19px;
      }
    }
}

