@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header.scss";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.slider {
  &__list {
    display: flex;
    margin-bottom: 36px;
    padding: 0;
      &-name{
        font-family: $GilBold;
        font-size: 47px;
        max-width: 280px;
        margin: 0px;
      }
      &-aboutme{
        font-family: $GilMedium;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 58%;
      }      
  }

  &__wrapper {
    height: 465px;
    overflow: hidden;
  }
  
  &__inner-wrapper {
    display: flex;
    height: 100%;
  }

  &_slide {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    }
  
  &__bottom-panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  &__dot {
    width: 10px;
    height: 10px;
    border: none;
    padding: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
    background: #E5E5E5;
    
    &:not(:last-child) {
      margin-right: 5px;
    }
    
    &_active {
      background-color: #000;
    }
    
    &:not(.slider__dot_active):hover, &:not(.slider__dot_active):focus {
      background-color: gray;
    }
  }
  
  &__button {
    background-color: transparent;
    font-size: 20px;
    outline: none;
    transition: all .5s;
    
    &:not(:disabled) {
        &:hover, &:focus {
        cursor: pointer;
        color: #fff;
      }
    }
    
    &:disabled {
      opacity: .4;
      user-select: none;
    }
  }
}


.information {
  background-color: #F6F6F6;
  height: 618px;
  &__chat {
    &-title{
      @include titleh2;
      margin-bottom: 51px;
    }
    &-contanier {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    &-right {
      margin-left: 100px;
    }
    &-text {
      position: absolute;
      max-width: 23%;
      margin-left: 27px;
      margin-top: -123px;
      font-family: $GilMedium;
      font-size: 18px;
      font-weight: 400;
    }
    &-text2,
    &-text3 {
      position: absolute;
      max-width: 23%;
      margin-top: -103px;
      margin-left: 24px;
      font-family: $GilMedium;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.skills {
  &__title {
    @include titleh2;
    margin-bottom: 20px;
  }
  &__text {
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    max-width: 1000px;
    display: flex;
    gap: 71px;
    justify-content: space-evenly;
  }
  &__logo {
    margin-bottom: 20px;
      &_text {
        text-align: center;
        margin-bottom: 24px;
      }
  }
  &__diagram {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
      &-knows {
        display: flex;
        align-items: center;
      }
      &-text {
        margin-right: 12px;
      }
  }
}

.portfolio {
  background-color: #F6F6F6;
  height: 816px;
  &__title {
    @include titleh2;
    margin-bottom: 50px;
  }
}

