<footer class="footer__container container">
  <h2 class="footer__title">Contacts</h2>
  <p class="footer__text">Want to know more or just chat? You are welcome!</p>
  <button class="footer__message">Send message</button>
  <ul class="footer__list">
    <li class="footer__list-items"><a class="footer__list-link" href="" >Instagram</a></li>
    <li class="footer__list-items"><a class="footer__list-link" href="">Vk</a></li>
    <li class="footer__list-items"><a class="footer__list-link" href="">Telegram</a></li>
    <li class="footer__list-items"><a class="footer__list-link" href="">Mail</a></li>
    <li class="footer__list-items"><a class="footer__list-link" href="">GitHub</a></li>
    <li class="footer__list-items"><a class="footer__list-link" href="">Phone</a></li>
  </ul>  
  <p>Design by DL Academy</p>
  <p>Program code from Valeria</p>
</footer>
